<h1 mat-dialog-title style="display: flex; flex-direction: row; align-items: center;">
    <mat-icon>account_balance</mat-icon><span>Bank</span>
</h1>
<mat-dialog-content class="mat-typography" style="height: 50vh; min-height: 500px; width: 50vw; min-width: 300px;">
    <hr />
    <mat-card style="font-size: large;">
        <h2>{{data.bank.bank_name}}</h2>

        <span class="row"> <span style="width: 70px;">Ifsc</span> <span>: </span> <span>{{data.bank.ifsc}}</span>
        </span><br />
        <span class="row"> <span style="width: 70px;">Branch</span> <span>: </span> <span>{{data.bank.branch}}</span>
        </span><br />
        <span class="row"> <span style="width: 70px;">Address</span> <span>: </span> <span>{{data.bank.address}}</span>
        </span><br />
        <span class="row"> <span style="width: 70px;">City</span> <span>: </span> <span>{{data.bank.city}}</span>
        </span><br />
        <span class="row"> <span style="width: 70px;">District</span> <span>: </span>
            <span>{{data.bank.district}}</span>
        </span><br />
        <span class="row"> <span style="width: 70px;">State</span> <span>: {{data.bank.state}}</span> </span><br />
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>