<div
    style="width: 100vw; padding: 12px; height: 40px; display: flex; flex-direction: row; align-items: center; background-color: rgb(68,67,187); color: white;">
    <h1 style="margin: 0; font-family: 'Monoton', cursive;"><span>Bank </span><span style="margin-left: 12px;">
            Info</span></h1>
</div>
<div
    style="background-color: rgb(250, 250, 250); min-height: calc(100vh - 64px); width: 100vw; display: flex; justify-content: center; position: relative; overflow-x: hidden;">
    <router-outlet></router-outlet>
</div>